target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.log

\.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/

\.metadata/\.plugins/org\.springframework\.ide\.eclipse\.boot/typegraphs/

\.metadata/
.recommenders/

Servers/Pivotal tc Server Developer Edition v3\.2-config/
Documentations/
