## Define List of All MicroServices  

#######Array Of Modules 
#### Basic Core
modules[0]=EurekaServer
modules[1]=IZuulServer
modules[2]=Authorization
modules[3]=LookupServices
modules[4]=Building
modules[5]=HubConfigurations
modules[6]=UMS
modules[7]=UserAPI
modules[8]=IVehicle
modules[9]=Package
modules[10]=Devices
modules[11]=Customer
modules[12]=WorkShift_Calendar
modules[13]=PickupRequest
modules[14]=ActiveVehicle
## RealTime 
modules[15]=CreateSearchTopic
modules[16]=OpenSocket
## Static Content
modules[17]=ZuulServerForStaticContent
modules[18]=StaticContentServer
## New Modules
modules[19]=PushNotification
modules[20]=SMS_API
modules[21]=OnDemandWorkFlow
modules[22]=DriverAuthorizationServer
modules[23]=DriverRequestAndPackageDetails
modules[24]=VehicleRegistration
modules[25]=ManualDistribution
modules[26]=IDelivery
modules[27]=DistributionPlan
modules[28]=ReturnRequest
modules[29]=DeliveryWorkflow
modules[30]=FAQ
modules[31]=ForgetPassword
modules[32]=EmailService
modules[33]=ReturnWorkflow
modules[34]=Dashboard_and_Reports
modules[35]=FreelancerDriver
modules[36]=OffLoadingActivities
modules[37]=SyncEngine

############## Array of Jars
### Core Basic
jars[0]=EurekaServer-0.0.2.jar
jars[1]=ZuulServer-0.1.2.jar
jars[2]=AuthorizationServer-0.0.1.jar
jars[3]=Lookup-Services-1.0.0.jar
jars[4]=Building-0.0.1.jar
jars[5]=Hub-Configuration-1.0.0.jar
jars[6]=UMS-1.1.0.jar
jars[7]=UserAPI-1.1.0.jar
jars[8]=Vehicle-1.0.jar
jars[9]=Package-0.0.4.jar
jars[10]=Devices-0.0.1.jar
jars[11]=Customer-0.0.1.jar
jars[12]=Calendar-Workshift-1.0.0.jar
jars[13]=PickupRequest-0.0.2.jar
jars[14]=ActiveVehicle-1.1.0.jar
## realTime
jars[15]=CreateSearchTopic-0.0.1.jar
jars[16]=OpenSocket-0.0.1.jar
## Static Content
jars[17]=ZuulServerForStaticContent-0.0.1.jar
jars[18]=StaticContentServer-0.0.1.jar

## New Modules 
jars[19]=PushNotification-1.1.0.jar
jars[20]=SMS-0.0.1.jar
jars[21]=WorkFlow-0.1.0.jar
jars[22]=DriverAuthorizationServer-0.0.1.jar
jars[23]=DriverRequestAndPackageDetails-1.0.0.jar
jars[24]=VehicleRegistration-0.0.1.jar
jars[25]=ManualDistribution-0.0.1.jar
jars[26]=Delivery-0.0.1.jar
jars[27]=DistributionPlan-0.0.1.jar
jars[28]=ReturnRequest-0.0.1.jar
jars[29]=DeliveryWorkFlow-0.1.0.jar
jars[30]=FAQ-0.0.1.jar
jars[31]=forgetpassword-0.0.1.jar
jars[32]=EmailService-0.0.1.jar
jars[33]=returnWorkflow-0.0.1.jar
jars[34]=StatisticsAndReports-0.0.1.jar
jars[35]=FreelancerDriver-0.0.1.jar
jars[36]=OffloadingActivities-0.0.1.jar
jars[37]=Report_Sync_Engine-0.0.1.jar


#Array of Options 
options[0]=-Xmx1024m
options[1]=-Xmx1024m
options[2]=-Xmx1024m
options[3]=-Xmx512m
options[4]=-Xmx512m
options[5]=-Xmx512m
options[6]=-Xmx1024m
options[7]=-Xmx1024m
options[8]=-Xmx512m
options[9]=-Xmx512m
options[10]=-Xmx512m
options[11]=-Xmx512m
options[12]=-Xmx512m
options[13]=-Xmx512m
options[14]=-Xmx512m
options[15]=-Xmx512m
options[16]=-Xmx512m
options[17]=-Xmx1024m
options[18]=-Xmx512m
options[19]=-Xmx512m
options[20]=-Xmx512m
options[21]=-Xmx512m
options[22]=-Xmx512m
options[23]=-Xmx512m
options[24]=-Xmx512m
options[25]=-Xmx512m
options[26]=-Xmx512m
options[27]=-Xmx512m
options[28]=-Xmx512m
options[29]=-Xmx512m
options[30]=-Xmx512m
options[31]=-Xmx512m
options[32]=-Xmx512m
options[33]=-Xmx512m
options[34]=-Xmx512m
options[35]=-Xmx512m
options[36]=-Xmx512m
options[37]=-Xmx2048m

#Array of Configs 
configs[0]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/EurekaServer-config.yml
configs[1]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ZuulServer-config.yml
configs[2]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/AuthorizationServer-config.yml 
configs[3]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/LookupService-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[4]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Building-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[5]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/HubConfig-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[6]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/UMS-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[7]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/UserAPI-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[8]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Vehicle-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[9]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Package-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[10]="--spring.config.location=/home/appzone/LastMile/MicroServices/ServicesConfig/Devices-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[11]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/CustomerRegisteration-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[12]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/WorkShift_Calendar-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[13]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/PickupRequest-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[14]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ActiveVehicle-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[15]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/CreateSearchTopic-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[16]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/OpenSocket-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[17]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ZuulServerForStaticContent-config.yml
configs[18]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/StaticContentServer-config.yml
configs[19]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/PushNotification-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[20]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/SMS-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[21]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/WorkFlow-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[22]=--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/DriverAuthorizationServer-config.yml
configs[23]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/DriverRequestAndPackageDetails-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[24]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/VehicleRegistration-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[25]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ManualDistribution-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[26]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Delivery-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[27]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/DistributionPlan-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[28]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ReturnRequest-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[29]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/DeliveryWorkflow-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[30]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/FAQ-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[31]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ForgetPassword-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[32]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/EmailService-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[33]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/ReturnWorkflow-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[34]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Statistics-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[35]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/freelancerDriver-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[36]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/OffloadingActivities-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"
configs[37]="--spring.config.location=/home/appzone/Lastmile/MicroServices/ServicesConfig/Report_Sync_Engine-config.yml --localization.directory=/home/appzone/Lastmile/MicroServices/locale/"





## Module Groups 
backEnd=(0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23)
realTime=(24 25)
staticContent=(26 27 28 29)
webApp=(30)
basic=(0 1 2 3 4)


