#Telosys-Tools properties
#Wed Oct 25 16:17:01 GMT+02:00 2017
ProjectVariable.PROJECT_NAME=Customer
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=org.demo
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
ProjectVariable.MYVAR=foo
RepositoriesFolder=TelosysTools
SRC=src/main/java
ENTITY_PKG=org.demo.bean
ProjectVariable.MAVEN_ARTIFACT_ID=Customer
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
